@import "tailwindcss";

@theme {
  --primary-color: #25B85D;
  --main-bg-color: #F7F9FB;
  --card-bg-color: #FFFFFF;
  --bg-color: #242424;
}

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--main-bg-color);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility fade-up {
  animation: fade-up 0.3s ease-out forwards;
}

@layer components {
  .card-border {
    @apply bg-(--card-bg-color) rounded-xl border p-4 sm:p-6 border-gray-200 
    shadow-sm hover:shadow-md hover:border-gray-300 transition-all duration-300
  }

  .card-border-gray {
    @apply bg-gray-200 rounded-xl border p-4 sm:p-6 border-gray-300 
    shadow-sm hover:shadow-md hover:border-gray-400 transition-all duration-300
    flex flex-col gap-4
  }

  .input-border {
    @apply border border-gray-200 bg-gray-50 p-2 mt-2 rounded-md focus:outline-2 focus:outline-(--primary-color)
    text-sm text-black tracking-normal
  }

  .border-bg {
    @apply bg-(--card-bg-color) rounded-xl border border-gray-200 
    shadow-sm hover:shadow-md hover:border-gray-300 transition-all duration-300
  }
}

.material-symbols-outlined {
  font-size: 36px;
  background-color: #1E293C;
  width: fit-content;
  color: var(--primary-color);
  padding: 8px;
  border-radius: 6px;
}

.gradient-btn {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background: linear-gradient(to right, #3b82f6, #10b981);
  -webkit-background-clip: padding-box, border-box;
  -webkit-text-fill-color: #111827; 
  color: #111827;
  border: 3px solid transparent; 
  position: relative;
  z-index: 1;
  font-weight: 600;
  text-align: center;
}


.gradient-btn::before {
  content: '';
  position: absolute;
  top: 2px; left: 2px; right: 2px; bottom: 2px;
  background: white; 
  border-radius: 4px; 
  z-index: -1;
}

.gradient-btn:hover {
  opacity: 90%;
}

.gradient-btn:hover::before {
  background: #f0fdf4; 
}